.container
{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}



.container > .home
{
    color: blue;

}



/*
display flex to parent 
flex-direction to set direction



*/
